/* we'll start by setting up a universal setting which will run smoothly on most popular browsers */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    }
/* let's set up the main background to be slightly off-white. for the header we'll use a pretty blue color(darker) so that we can add a white color header as well as some nav links. */
body {
    background-color: #d9dcd6;
}
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
header h1 {
    display: inline-block;
    font-size: 48px;
}
header h1 .seo {
    color: #d9dcd6;
}
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
header nav ul {
    list-style-type: none;
}
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
/* let's adjust our main text-content to appear in while letters on a blue background */
a {
    color: #ffffff;
    text-decoration: none;
}
p {
    font-size: 16px;
}
/* let's take a deeper dive into the styles of some specific classes that we've creates. by the way, we were able to eliminate many repetative codes and condence them into one class to make the code cleaner */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
.float-left {
    float: left;
    margin-right: 25px;
}
.float-right {
    float: right;
    margin-left: 25px;
}
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
.benefit-item {
    margin-bottom: 32px;
    color: #ffffff;
}
/* in the aside section, we want the sibar's content to have a slightly different header's size as well as a little lighter blue background color. also, let's make sure our headers and images in this section, are nicely centered and are estetically padded. */
h3 {
    text-align: center;
}
.benefit-item .sidebar {
    margin-bottom: 10px;
    text-align: center;
}
.benefit-item img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
.content-description {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
.content-description img {
    max-height: 200px;
}
.content-description h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* let's not forget the footer. let's make to where it doesn't grab too much attention, but also that's it's nicely visable and accacible of anyone who's looking for it at the bottom of the page. */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
footer h2 {
    font-size: 20px;
}
/* thankfully, we were able to clean up the CSS file from ~200 lines of code to ~120, and that's after we've added the comments. */